<div>
  <input [(ngModel)]='name' placeholder="Nome">
  <br />
  <input [(ngModel)]='surname' placeholder="Sobrenome">
  <br />
  <input [(ngModel)]='birthdate' type="date" placeholder="Data de nascimento">
  <br />
  Minhas informações são: {{name}} {{surname}} {{birthdate}}
  <br />
  <button (click)="cadastrar()">Cadastrar</button>

  <h1>Lista Pessoas</h1>
  <ul>
    <div *ngFor="let person of lista; let i = index">
      <li *ngIf="person.deleted != true">
        <app-list-item [personItem]="person">
          <br />
          <button (click)="selectPerson(person, i)">Selecionar Pessoa</button>
          <br>
          <button (click)="deletePerson(i)">Excluir Pessoa</button>
        </app-list-item>
      </li>
    </div>
  </ul>
  <h1>Lista Pessoas Deletadas</h1>
  <ul>
    <div *ngFor="let person of lista; let i = index">
      <li *ngIf="person.deleted == true">
        <app-list-item [personItem]="person">
          <br />
          <button (click)="restorePerson(i)">Restaurar Pessoa</button>
        </app-list-item>
      </li>
    </div>
  </ul>
</div>